<app-control-header *ngIf="label" [label]="label" [index]="index"
  [required]="required"></app-control-header>

<div
  class="wrapper"
  [class.is-disabled]="isDisabled$ | async"
  (click)="selectFile($event)"
  [class.file-changed]="value"
>
  <input
    hidden
    multiple
    #fileUploadField
    id="{{ fieldName }}-fileField"
    type="file"
    (change)="uploadFile()"
    (click)="markAsDirty()"
    [disabled]="isDisabled$ | async"
  />
  <div class="text-wrapper">
    <ng-container *ngIf="value?.length; else selectFileText">
      <span class="file-name px-2" *ngFor="let item of value">{{ item.name }}</span>
    </ng-container>
    
    <ng-template #selectFileText>
      <span>{{ buildTranslationKey('selectFiles') | translate }}</span>
    </ng-template>
  </div>
</div>
<app-control-errors *ngIf="dirty || !validateOnDirty" [errorTexts]="errorTexts"></app-control-errors>
