@import 'index';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    @apply font-main text-navy-50;
    color: $mc-navy-50;
  }

  align-items: center;
  text-align: center;

  outline: none;
  border: 1px solid rgba($color: $mc-navy-50, $alpha: 0.3);
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-radius: 6px;
  min-height: 40px;
  width: 100%;
  @apply font-main;

  &.file-changed {
    border: 1px solid $mc-navy-90;
  }

  .file-name {
    @apply font-main;
    color: $mc-navy-50;
  }
}
.wrapper,
.wrapper * {
  cursor: pointer;
}
