// @import '../shared-styles.scss';
:host {
  zoom: 1.7;
  width: 25rem;
  height: 15rem;
  @apply bg-blue-70 rounded-2xl text-white p-5 flex items-center justify-between flex-col;

  &::ng-deep {
    app-dynamic-form-outlet {
      app-text-field {
        width: 100% !important;
      }
    }
  }
  .wrapper,
  app-text-field {
    width: 100% !important;
  }
}
