<div class="description">
  <span class="text-5xl font-semibold">{{ buildTranslationKey('mainDescription') | translate }}</span>
</div>
<div class="wrapper">
  <app-dynamic-form-outlet [dynamicFormGroup]="dynamicFormGroup"></app-dynamic-form-outlet>
  <app-button
    (click)="sendSignInLink()"
    [loading]="isProcessing$ | async"
    [class.disabled]="dynamicFormGroup.invalid"
    [size]="'stretch'"
    id="sign-in-btn"
    class="main mulish action-btn mt-5"
    >{{ buildTranslationKey('loginButton') | translate }}</app-button
  >
</div>
