<ng-container *ngIf="(allRooms$ | async)?.length">
  <app-virtual-scroll-renderer
    [parentScroller]="parentScroller"
    [allItemsStream]="allRooms$"
    [filteredItemsStream]="allRooms$"
    [idSelector]="roomIdSelector"
    [buildRenderingItemsCallback]="buildItemsBinded"
    [scrollToNewlyAddedItem]="true"
    [scrollToFocusedItem]="true"
  >
    <ng-template #itemTemplate let-item="item">
      <app-room-item
        #roomItemComp
        [ngbTooltip]="isRoomAvailable(item) ? null : ('roomItem.notAllowedRoomText' | translate)"
        [placement]="'top'"
        [class.disabled]="!isRoomAvailable(item)"
        [room]="item"
        [relatedScopeKey]="roomsBarSectionKey"
      ></app-room-item>
    </ng-template>
  </app-virtual-scroll-renderer>
</ng-container>
