@import 'index';

:host {
  @apply flex bg-navy-40 rounded-lg;
  min-width: inherit;
  min-height: 100px;
  height: 100px;

  &:hover {
    cursor: pointer;
    @apply bg-navy-50;
  }

  &.selected {
    @apply bg-navy-50;
    border: 1px solid $mc-navy-90;
  }

  #room-icon-wrapper {
    display: block;
    width: 60px;
    height: 60px;

    .room-icon {
      height: inherit;
      width: inherit;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}
