<div class="rooms-wrapper flex w-1/3 h-auto p-5">
  <app-rooms-section-layout></app-rooms-section-layout>
</div>
<div class="rooms-wrapper flex w-2/3 h-auto p-5">
  <ng-container *ngTemplateOutlet="(roomIdFromParams$ | async) ? feed : emptyState"></ng-container>
</div>

<ng-template #feed>
  <app-feed></app-feed>
</ng-template>

<ng-template #emptyState>
  <div class="description self-center m-auto text-4xl font-main">
    {{ buildTranslationKey('emptyStateDescription') | translate }}
  </div>
</ng-template>
