<ng-container *ngIf="room">
  <div class="flex w-full rounded-xl p-4 bg-navy-30 text-xl font-bold justify-between">
    <div
      class="group-room-name flex gap-3 px-2 py-2 cursor-pointer"
      [ngbTooltip]="buildTranslationKey('navigateToSchedule') | translate"
      [placement]="'top'"
      (click)="viewSchedule()"
    >
      <span>{{ room?.room_details?.name }} </span>
      <svg-icon [src]="'calendar'"></svg-icon>
    </div>

    <div class="pin-block flex items-center justify-center"       [ngbTooltip]="buildTranslationKey('pinAttachment') | translate"
    [placement]="'top'">
      <svg-icon [src]="'pin'" (click)="openPinModal()"></svg-icon>
    </div>
  </div>

  <app-messages-renderer class="flex flex-grow" [room]="room"></app-messages-renderer>
  <!-- 
Seems to be separate component -->
  <div lass="flex w-full p-4">
    <app-text-area
      class="w-full"
      [required]="true"
      [validateOnDirty]="true"
      [allowErrorsDisplay]="false"
      [formControl]="messageField"
      [resizable]="false"
      [rows]="3"
      [maxLength]="600"
      [placeholder]="buildTranslationKey('writeMessage') | translate"
    >
      <app-icon-button
        [svgIconPath]="'send-message'"
        [type]="'secondary'"
        [disabled]="(messageField.invalid || (sendingMessageLoader$ | async)) && !attachmentsInput.value?.length"
        (click)="sendMessage()"
      >
      </app-icon-button>
    </app-text-area>
    <app-file-input #attachmentsInput [formControl]="fileField"></app-file-input>
  </div>
</ng-container>
