// @import '../shared-styles.scss';

:host {
  // @apply w-100 h-120 bg-navy-80;

  // @include sharedStylesForComponent();
}

.center-text {
  gap: 15px;
}

.with-side-lines {
  margin: 30px 0;
}

.sign-in-again-text {
  display: flex;
  flex-direction: column;
}

a {
  // color: $mc-navy-90;
  text-decoration: underline;
}
