<app-control-header *ngIf="label" [label]="label" [labelParamsObj]="labelParamsObj" [index]="index" [required]="required"></app-control-header>
<div class="wrapper" [class.pointer-events-none]="isDisabled$ | async"
[class.is-with-addon]="addonText" [class.border-error]="errorsDisplayed">
  <app-control-placeholder *ngIf="!hasValue && !isActive" (click)="placeholderClick()" #placeholderElement
    [placeholder]="placeholder" [placeholderParamsObj]="placeholderParamsObj" [placeholderIcon]="placeholderIcon">
  </app-control-placeholder>
  <div *ngIf="isClearButtonDisplayed" class="clear-btn-wrapper flex flex-row items-center absolute h-full">
    <app-clear-button (click)="clear()"></app-clear-button>
  </div>
  <input
      #textfield id="{{ fieldName }}-textfield"
      class="outline-none bg-white w-full h-full font-main text-base"
      [attr.type]="inputType"
      [(ngModel)]="value" 
      (ngModelChange)="valueChangesEventEmitHandler($event)"
      [disabled]="isDisabled$ | async" 
      [attr.maxLength]="maxLength"
      [attr.min]="minValue" 
      [attr.max]="maxValue" 
      [attr.readOnly]="readonly" 
      [autocomplete]="suggestions?.length ? 'off' : 'on'"
      (input)="input.emit($event)" 
      (blur)="inputBlur()" 
      (focusin)="inputFocusIn()"
      (focusout)="inputFocusOut()"
      [class.padding-right]="isClearButtonDisplayed"
    />
  <div class="addon-text flex flex-row items-center bg-navy-30 whitespace-nowrap" *ngIf="addonText">{{ addonText | translate }}</div>

  <div class="buttons">
    <ng-content select="app-button"></ng-content>
    <ng-content select="button"></ng-content>

    <ng-container *ngIf="removable">
      <button (click)="removeControl.emit(fieldName)" class="remove-contol-button">
        <svg-icon src='close'>
        </svg-icon>
      </button>      
    </ng-container>
    <ng-container *ngIf="showHideText && textfieldElement">
      <button (click)="toggleShowHide()" class="mulish white toggle-show-hide-password">
        <svg-icon [src]="textfieldElement.nativeElement.type === 'password' ? 'show_n-a' : 'hide_n-a'">
        </svg-icon>
      </button>
    </ng-container>
  </div>
  <ng-container *ngIf="textfieldElement$ | async as txtField">
    <app-autocomplete *ngIf="txtField && suggestions?.length" [autocompleteData]="suggestions"
      [maxItemsToDisplay]="suggestionsConfig?.maxItemsToDisplay" [inputElement]="txtField" (select)="value = $event">
    </app-autocomplete>
  </ng-container>

</div>
<div class="flex justify-end items-center absolute">
  <app-control-errors class="flex-1" *ngIf="errorsDisplayed" [errorTexts]="errorTexts"></app-control-errors>
  <app-characters-counter *ngIf="displayCharactersCounter" [value]="value" [maxLength]="maxLength"></app-characters-counter>
</div>
