@import 'index';

$padding: 0 11px 0 14px;
$min-height: 40px;
$border-radius: 6px;

:host {
  display: inline-block;
  position: relative;

  &.active,
  &.has-value {
    .placeholder {
      display: none;
    }
  }

  button {
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 10px 0;
    cursor: pointer;
  }

  .remove-contol-button {
    display: none;
    @apply bg-navy-10;
    background: gray;
    width: 30px;
    height: 30px;
  }

  .main {
    @apply text-white bg-navy-90;
  }

  .gray {
    @apply text-white bg-navy-70;
  }

  .white {
    background: white;
  }

  //   .mulish {
  //     @include MulishFontStyle();
  //   }

  .toggle-show-hide-password {
    display: none;
    padding: 0 5px;
  }

  &:hover {
    .remove-contol-button {
      display: flex;
    }
  }

  .wrapper {
    &:hover {
      ::ng-deep.buttons app-button {
        display: flex !important;
      }

      .toggle-show-hide-password {
        display: flex;
      }
    }

    position: relative;

    ::ng-deep.buttons {
      position: absolute;
      right: 5px;
      top: 11%;
      height: 30px;
      display: flex;
      flex-direction: row;

      > :not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  .addon-text {
    display: flex;
    align-items: center;

    @apply bg-navy-30;
    padding-left: 11px;
    padding-right: 16px;
    @apply border-navy-70 border-solid border-opacity-30 border-l-2 rounded-md;
  }
}

.placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: $padding;
  cursor: text;
  @apply text-navy-70;
  //   @include basicLight();
}

input {
  outline: none;
  // Background styles
  @apply bg-white;

  // Border styles
  @apply border-navy-70 border-solid border-opacity-30 border-2 rounded-md;
  box-sizing: border-box;
  padding: $padding;
  min-height: $min-height;
  width: 100%;
  height: 100%;
  @apply text-navy-90;
  //   @include basicDark();
}

:host.dirty.invalid {
  input {
    @apply border-pink-90 border-solid border-2 rounded-md;
  }
}

.characters-counter {
  display: flex;
  justify-content: flex-end;
  //   @include MulishFontStyle(11px);
  @apply text-navy-70;
}

.is-with-addon {
  display: flex;
  @apply border-navy-70 border-solid border-opacity-30 border-2 rounded-md;
  overflow: hidden;
}
