// @import 'index';
// @import 'global-loading-animation';

:host {
  //min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  height: inherit;
  position: relative;
  overflow: hidden;
  min-width: 991px;

  > * {
    overflow: hidden;
  }

  app-user-profile-menu::ng-deep .user-profile-menu-popover {
    max-width: fit-content;
  }
}

.navigation-sidebar {
  min-height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-radius: 0 12px 12px 0;
  background: #ffff;
  margin-right: 2px;
  // box-shadow: 0 2px 3px rgba($color: $mc-navy-90, $alpha: 0.1);

  // @media (max-width: $XSmall) {
  //   visibility: hidden;
  //   width: 0;
  //   margin: 0;
  // }
}

.content {
  width: 100%;
  background: #edf0f1;
}

.navigation-sidebar,
.content {
  min-height: 100%;
}

.navigation-sidebar {
  z-index: 998;
}

app-navigation-bar {
  display: flex;
  height: 100%;
  flex-direction: column;
}
