// @import 'index';
// @import 'global-loading-animation';

:host {
  @apply w-full h-full bg-navy-30;
  //min-width: 100%;
  min-height: 100%;
  max-width: 100%;

  display: grid;
  // grid-template-rows: 1fr 10fr;
  height: inherit;
  position: relative;
  overflow: hidden;
  // min-width: 991px;

  > * {
    overflow: hidden;
  }

  display: grid;
  grid-template-columns: 6rem auto 6rem;
  grid-template-rows: 6rem auto;
  grid-template-areas:
    'left-column bar right-column'
    'left-column main right-column'
    'left-column main right-column';

  // grid-template-columns: [col-start] 100% [col-end] 100%;
  // grid-template-rows: [row-start] 100px [row-end] 100px;

  // app-user-profile-menu::ng-deep .user-profile-menu-popover {
  //   max-width: fit-content;
  // }
}

app-user-menu-bar {
  grid-area: bar;
  z-index: 500;
  @apply w-full bg-navy-30;
  // Display
  @apply flex justify-between;
  // Background
  @apply bg-navy-90;
  // Radius
  @apply rounded-br-2xl rounded-bl-2xl;
  // Shadow
  @apply shadow-lg;
  // box-shadow: 0 2px 3px rgba($color: black, $alpha: 0.1);

  // @media (max-width: $XSmall) {
  //   visibility: hidden;
  //   width: 0;
  //   margin: 0;
  // }
}

.content {
  grid-area: main;
  @apply w-full bg-navy-30;
}

#left-column {
  @apply bg-navy-10;
  grid-area: left-column;
  grid-row-start: 1;
  grid-row-end: 4;
}

#right-column {
  @apply bg-navy-10;
  grid-area: right-column;
  grid-row-start: 1;
  grid-row-end: 4;
}
// .navigation-sidebar,
// .content {
//   min-height: 100%;
// }

// .navigation-sidebar {
//   z-index: 998;
// }

app-navigation-bar {
  display: flex;
  height: 100%;
  flex-direction: column;
}
